.sePage .sePageLayout .sePageHeader {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.sePage input#seHeaderSearchBox {
  font-family: "Open Sans", sans-serif;
}
.sePage .sePageLayout .sePageHeader .seHeaderBottom,
.sePage .sePageLayout .sePageHeader .seHeaderBottom .seStoreHours p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.sePage
  .sePageLayout
  .sePageHeader
  .sePageHeaderWrapper
  .seHeaderActions
  .seHeaderActionsInner
  a {
  font-size: 14px;
}
.sePage .sePageLayout .sePageHeader a:not(.btn) {
  color: #fff;
}
.sePage .sePageLayout .sePageHeader a:not(.btn):hover {
  color: #e6e6e6;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.sePage .sePageLayout .seHeaderActions a:not(.btn) .seIcon {
  color: #fff;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.sePage
  .sePageLayout
  .sePageHeaderWrapper
  .seHeaderActions
  .list-inline
  > li
  > a::after {
  background-color: #fff;
}
.sePage
  .sePageLayout
  .sePageHeaderWrapper
  .seHeaderActions
  .list-inline
  > li.open
  > a::after,
.sePage
  .sePageLayout
  .sePageHeaderWrapper
  .seHeaderActions
  .list-inline
  > li
  > a:hover::after {
  background-color: #e6e6e6;
}
.sePage .sePageLayout .seHeaderActions a:not(.btn):hover .seIcon,
.sePage .sePageLayout .seHeaderActions li.open a:not(.btn) .seIcon {
  color: #e6e6e6;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.sePage .sePageLayout .sePageHeader .seHeaderBottom a,
.sePage .sePageLayout .sePageHeader .seHeaderBottom .seStoreHours p a {
  color: #fff;
}
.sePage .sePageLayout .sePageHeader .seHeaderBottom a:hover,
.sePage .sePageLayout .sePageHeader .seHeaderBottom .seStoreHours p a:hover {
  color: #e6e6e6;
}
.seSiteSearchForm span.twitter-typeahead .tt-suggestion {
  color: #333;
  font-size: 14px;
}
.seSiteSearchForm span.twitter-typeahead .tt-suggestion:hover {
  color: #004f16;
  font-size: 14px;
}
.seSiteSearchForm span.twitter-typeahead .tt-menu,
.seSiteSearchForm span.twitter-typeahead .tt-dropdown-menu {
  font-famiy: "Open Sans", sans-serif;
  font-size: 14px;
}
.sePage .sePageLayout .seMiniCart.mini-cart-with-items .badge,
.sePageLayout .seMiniCart a.open .badge,
.sePageLayout .seMiniCart a:active .badge,
.sePageLayout .seMiniCart a:focus .badge,
.sePageLayout .seMiniCart a:hover .badge {
  color: #fff;
  background-color: #004f16;
}
.sePage .sePageLayout .seMiniCart a.open .badge,
.sePage .sePageLayout .seMiniCart a:active .badge,
.sePage .sePageLayout .seMiniCart a:focus .badge,
.sePage .sePageLayout .seMiniCart a:hover .badge {
  color: #fff;
  background-color: #212121;
}
.sePage .sePageLayout .seNavbar .navbar-nav > li > a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.sePage .sePageLayout .seNavbar .navbar-nav > li > a:hover {
  color: #004f16;
}
.sePageLayout .seNavbar .seNavbarNav > li.active > a,
.sePageLayout .seNavbar .seNavbarNav > li.active > a:focus,
.sePageLayout .seNavbar .seNavbarNav > li.active > a:hover,
.sePageLayout .seNavbar .seNavbarNav > li.open > a,
.sePageLayout .seNavbar .seNavbarNav > li.open > a:focus,
.sePageLayout .seNavbar .seNavbarNav > li.open > a:hover,
.sePageLayout .sePageLayoutWrapper .navbar .navbar-nav > .open > a,
.sePageLayout .sePageLayoutWrapper .navbar .navbar-nav > .open > a:focus,
.sePageLayout .sePageLayoutWrapper .navbar .navbar-nav > .open > a:hover {
  color: #004f16;
}
.sePage .sePageLayout .seNavbar {
  background: #1e66a9;
  border-color: #1e66a9;
}
.sePage .sePageLayout .wsmobileheader .icon-bar {
  background-color: #1e66a9;
}
.sePage .sePageLayout .wsmobileheader {
  background: #fff;
}
.sePage .sePageLayout .megamenu .link-list li a {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.sePage .sePageLayout .megamenu .link-list li a:hover {
  color: #004f16;
}
.sePage .sePageLayout .megamenu .link-list li a.title:after {
  background: #004f16;
}
.sePage
  .sePageLayout
  .sePageHeader
  .seHeaderBottom
  .seStoreHours
  .seStoreHoursList
  p,
.sePage .sePageLayout .is-drilldown-submenu li a:not(.btn),
.sePage .sePageLayout .seSiteSearchForm span.twitter-typeahead .tt-suggestion {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.sePage .sePageLayout .is-drilldown-submenu li a:not(.btn):hover,
.sePage
  .sePageLayout
  .seSiteSearchForm
  span.twitter-typeahead
  .tt-suggestion:hover {
  color: #004f16;
}
.sePage .sePageLayout .is-drilldown-submenu li a.title:after {
  background: #004f16;
}
.sePage .sePageLayout h1,
.sePage .sePageLayout h2,
.sePage .sePageLayout h3,
.sePage .sePageLayout h4,
.sePage .sePageLayout h5,
.sePage .sePageLayout h6 {
  color: #000;
  font-family: "Open Sans", sans-serif;
}
.sePage .sePageLayout h1 a,
.sePage .sePageLayout a h1,
.sePage .sePageLayout .seFooterList h1 a:not(.btn),
.sePage .sePageLayout h2 a,
.sePage .sePageLayout a h2,
.sePage .sePageLayout .seFooterList h2 a:not(.btn),
.sePage .sePageLayout h3 a,
.sePage .sePageLayout a h3,
.sePage .sePageLayout .seFooterList h3 a:not(.btn),
.sePage .sePageLayout h4 a,
.sePage .sePageLayout a h4,
.sePage .sePageLayout .seFooterList h4 a:not(.btn),
.sePage .sePageLayout h5 a,
.sePage .sePageLayout a h5,
.sePage .sePageLayout .seFooterList h5 a:not(.btn),
.sePage .sePageLayout h6 a,
.sePage .sePageLayout a h6,
.sePage .sePageLayout .seFooterList h6 a:not(.btn) {
  color: #000;
}
.sePage .sePageLayout .sePageMain h1 a:not(.btn),
.sePage .sePageLayout .sePageHeader h1 a:not(.btn),
.sePage .sePageLayout .sePageMain h2 a:not(.btn),
.sePage .sePageLayout .sePageHeader h2 a:not(.btn),
.sePage .sePageLayout .sePageMain h3 a:not(.btn),
.sePage .sePageLayout .sePageHeader h3 a:not(.btn),
.sePage .sePageLayout .sePageMain h4 a:not(.btn),
.sePage .sePageLayout .sePageHeader h4 a:not(.btn),
.sePage .sePageLayout .sePageMain h5 a:not(.btn),
.sePage .sePageLayout .sePageHeader h5 a:not(.btn),
.sePage .sePageLayout .sePageMain h6 a:not(.btn),
.sePage .sePageLayout .sePageHeader h6 a:not(.btn) {
  color: #000;
}
.sePage .sePageLayout h1 a:hover,
.sePage .sePageLayout a h1:hover,
.sePage .sePageLayout h2 a:hover,
.sePage .sePageLayout a h2:hover,
.sePage .sePageLayout h3 a:hover,
.sePage .sePageLayout a h3:hover,
.sePage .sePageLayout h4 a:hover,
.sePage .sePageLayout a h4:hover,
.sePage .sePageLayout h5 a:hover,
.sePage .sePageLayout a h5:hover,
.sePage .sePageLayout h6 a:hover,
.sePage .sePageLayout a h6:hover {
  color: #004f16;
}
.sePage .sePageLayout .sePageMain h1 a:not(.btn):hover,
.sePage .sePageLayout .sePageHeader h1 a:not(.btn):hover,
.sePage .sePageLayout .seFooterList h1 a:not(.btn):hover,
.sePage .sePageLayout .sePageMain h2 a:not(.btn):hover,
.sePage .sePageLayout .sePageHeader h2 a:not(.btn):hover,
.sePage .sePageLayout .seFooterList h2 a:not(.btn):hover,
.sePage .sePageLayout .sePageMain h3 a:not(.btn):hover,
.sePage .sePageLayout .sePageHeader h3 a:not(.btn):hover,
.sePage .sePageLayout .seFooterList h3 a:not(.btn):hover,
.sePage .sePageLayout .sePageMain h4 a:not(.btn):hover,
.sePage .sePageLayout .sePageHeader h4 a:not(.btn):hover,
.sePage .sePageLayout .seFooterList h4 a:not(.btn):hover,
.sePage .sePageLayout .sePageMain h5 a:not(.btn):hover,
.sePage .sePageLayout .sePageHeader h5 a:not(.btn):hover,
.sePage .sePageLayout .seFooterList h5 a:not(.btn):hover,
.sePage .sePageLayout .sePageMain h6 a:not(.btn):hover,
.sePage .sePageLayout .sePageHeader h6 a:not(.btn):hover,
.sePage .sePageLayout .seFooterList h6 a:not(.btn):hover {
  color: #004f16;
}
.sePage .sePageLayout h1,
.sePage .sePageLayout .sePageHeader h1 a:not(.btn),
.sePage
  .sePageLayout
  .sePageHeader
  .sePageHeaderWrapper
  .seHeaderActions
  .seHeaderActionsInner
  h1
  a:not(.btn),
.seH1FontSize {
  font-size: 32px;
  font-family: Open Sans;
  line-height: 1.1;
}
.sePage .sePageLayout h2,
.sePage .sePageLayout .sePageHeader h2 a:not(.btn),
.sePage
  .sePageLayout
  .sePageHeader
  .sePageHeaderWrapper
  .seHeaderActions
  .seHeaderActionsInner
  h2
  a:not(.btn) {
  font-size: 27px;
}
.sePage .sePageLayout h3,
.sePage .sePageLayout .h3,
.sePage .sePageLayout .sePageHeader h3 a:not(.btn),
.sePage
  .sePageLayout
  .sePageHeader
  .sePageHeaderWrapper
  .seHeaderActions
  .seHeaderActionsInner
  h3
  a:not(.btn) {
  font-size: 23px;
}
.sePage .sePageLayout h4,
.sePage .sePageLayout .h4,
.sePage .sePageLayout .sePageHeader h4 a:not(.btn),
.sePage
  .sePageLayout
  .sePageHeader
  .sePageHeaderWrapper
  .seHeaderActions
  .seHeaderActionsInner
  h4
  a:not(.btn) {
  font-size: 20px;
}
.sePage .sePageLayout h5,
.sePage .sePageLayout .sePageHeader h5 a:not(.btn),
.sePage
  .sePageLayout
  .sePageHeader
  .sePageHeaderWrapper
  .seHeaderActions
  .seHeaderActionsInner
  h5
  a:not(.btn) {
  font-size: 17px;
}
.sePage .sePageLayout h6,
.sePage .sePageLayout .sePageHeader h6 a:not(.btn),
.sePage
  .sePageLayout
  .sePageHeader
  .sePageHeaderWrapper
  .seHeaderActions
  .seHeaderActionsInner
  h6
  a:not(.btn) {
  font-size: 14px;
}
.sePage .sePageLayout .sePageMain {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.sePage .sePageLayout .sePageMain a:not(.btn) {
  color: #004f16;
}
.sePage .sePageLayout .sePageMain a:not(.btn):hover {
  color: #212121;
}
.sePage .sePageLayout ::selection {
  background-color: #004f16;
}
.sePage .sePageLayout .sePageFooter .seFooter {
  font-family: "Open Sans", sans-serif;
}
.sePage .sePageLayout a.btn.btn-primary {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.sePage .sePageLayout a.btn.btn-primary {
  background-color: #004f16;
  border-color: #004f16;
}
.sePage .sePageLayout .btn-primary,
.sePage .sePageLayout .btn-checkout {
  color: #fff;
  background: #004f16;
  border-color: #004f16;
}
.sePage .sePageLayout .btn-primary:hover,
.sePage .sePageLayout .btn-checkout:hover {
  background: #212121;
  border-color: #212121;
}
.sePage .seBackTop i.seIconChevronUp {
  color: #fff;
}
.sePage .seBackTop {
  background-color: #004f16;
}
.sePage .sePageLayout .seBackTop:hover {
  background-color: #212121;
  border-color: #212121;
}
.sePage .sePageLayout a.btn.btn-primary:hover {
  background-color: #212121;
  border-color: #212121;
}
.sePage .sePageLayout .divider,
.sePageLayout .bordered-top-bottom-block,
.sePageLayout .bordered-top-bottom-block2 {
  border-color: #212121;
}
.divider.headline h2:before {
  border-color: #212121;
}
.divider.headline h2:after {
  border-color: #212121;
}
.sePage .sePageLayout .seFooterList {
  color: #fff;
  background-color: #333;
  font-size: 16px;
}
.sePage .sePageLayout .seFooterList a:not(.btn) {
  color: #fff;
}
.sePage .sePageLayout .seFooterList a:not(.btn):hover {
  color: #e6e6e6;
}
.sePage .sePageLayout .sestorelocatorinfowindow-info div {
  font-family: "Open Sans", sans-serif !important;
}
.sePage .sePageLayout .mapboxgl-map {
  font-family: "Open Sans", sans-serif;
}
.sePage .sePageLayout .mapboxgl-map .marker .seIcon {
  color: #004f16;
}
.sePage .sePageLayout .seMatchesText {
  color: #004f16;
}
.sePage .sePageLayout .btn-primary {
  background-color: #004f16;
  border-color: #004f16;
}
.sePage .sePageLayout .btn-primary:hover {
  background-color: #212121;
  border-color: #212121;
}
.sePage .sePageLayout .seProductTabWrapper .nav-tabs > li.active > a {
  color: #004f16;
}
.sePage .sePageLayout .seProductTabWrapper .nav-tabs > li > a:focus {
  color: #004f16;
}
.sePage
  .sePageLayout
  .seProductDataContainer
  .seProductTabWrapper
  .nav-tabs
  > li
  > a::before {
  background-color: #004f16;
}
.sePage .sePageLayout .seFacetPanel input[type="checkbox"]:checked + label {
  color: #004f16 !important;
}
.sePage .sePageLayout .btn-link {
  color: #004f16;
}
.sePage .sePageLayout .btn-link:hover {
  color: #212121;
}
.sePage .sePageLayout .slick-next:before,
.sePage .sePageLayout .slick-prev:before {
  color: #004f16;
}
.seMiniCart .seMiniCartList .seMiniCartItem p {
  color: #333;
}
.seMiniCart .seMiniCartList .seMiniCartTotal {
  color: #333;
}
.sePageLayout .seSearchProductsContainer .seProduct .seSavingPercent {
  background-color: #004f16;
}
@media only screen and (max-width: 991px) {
  .is-drilldown-submenu-parent.dropdown .arrow::before,
  .sePage .sePageLayout .sePageHeader .seMobiActionsWrapper a:not(.btn) {
    color: #fff;
  }
  .is-drilldown-submenu .is-drilldown-submenu-parent > a .arrow::before {
    color: #333;
  }
  .sePage .sePageLayout .sePageHeader .seMobiActionsWrapper a:hover:not(.btn),
  .is-drilldown-submenu-parent.dropdown a:hover .arrow::before {
    color: #004f16;
  }
  .is-drilldown-submenu .is-drilldown-submenu-parent > a:hover .arrow::before {
    color: #004f16;
  }
}
.seSiteNavigator
  .navbar-nav
  .is-drilldown-submenu
  .is-drilldown-submenu-parent
  > .mobile-megamenu-title,
.seSiteNavigator
  .navbar-nav
  .is-drilldown-submenu
  .is-drilldown-submenu-parent
  > .mobile-megamenu-title,
.seSiteNavigator
  .navbar-nav
  .is-drilldown-submenu
  .is-drilldown-submenu-parent
  > .mobile-megamenu-title {
  color: #333;
  font-family: "Open Sans", sans-serif;
}
.seSiteNavigator
  .navbar-nav
  .is-drilldown-submenu
  .is-drilldown-submenu-parent
  > .mobile-megamenu-title:active,
.seSiteNavigator
  .navbar-nav
  .is-drilldown-submenu
  .is-drilldown-submenu-parent
  > .mobile-megamenu-title:focus,
.seSiteNavigator
  .navbar-nav
  .is-drilldown-submenu
  .is-drilldown-submenu-parent
  > .mobile-megamenu-title:hover {
  color: #004f16;
  font-family: "Open Sans", sans-serif;
}
.seSiteNavigator .navbar-nav .seMobiActionCart .badge {
  color: #fff;
  background-color: #004f16;
}
.sePageLayout .seNavbar .navbar-brand {
  color: #333;
}
.sePageLayout .seNavbar .navbar-brand:hover,
.sePageLayout .seNavbar .navbar-brand:focus {
  background: #1e66a9;
  border-color: #1e66a9;
}
.sePageLayout .seNavbar .navbar-brand:hover,
.sePageLayout .seNavbar .navbar-brand:focus {
  color: #333;
  background: #1e66a9;
}
.sePageLayout .seNavbar .navbar-toggle {
  background-color: #1e66a9;
  border-color: #1e66a9;
}
.btn-link,
.seItemListMenu .seMobileMenuControl .seCloseText {
  color: #004f16;
}
.seCalendar .fc-event,
.seCalendar .fc-event-dot {
  background: #004f16;
  border-color: #004f16;
}
.sePage
  .seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-compact
  .pr-snippet-read-and-write
  a:not(.btn),
.sePage
  .seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-standard
  .pr-snippet-read-and-write
  a:not(.btn),
.sePage
  .seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-minimal
  .pr-snippet-read-and-write
  a:not(.btn) {
  color: #004f16;
}
.sePage
  .seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-compact
  .pr-snippet-read-and-write
  a:not(.btn):hover,
.sePage
  .seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-standard
  .pr-snippet-read-and-write
  a:not(.btn):hover,
.sePage
  .seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-minimal
  .pr-snippet-read-and-write
  a:not(.btn):hover {
  color: #212121;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-review-snapshot-simple
  .pr-review-snapshot-snippets
  .pr-snippet-read-and-write
  a {
  color: #fff;
  border: 1px solid #004f16;
  background-color: #004f16;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-review-snapshot-simple
  .pr-review-snapshot-snippets
  .pr-snippet-read-and-write
  a:hover {
  color: #fff;
  background-color: #212121;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5
  .pr-histogram-label {
  color: #004f16;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:hover
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:hover
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1:hover
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1:hover
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2:hover
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2:hover
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3:hover
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3:hover
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4:hover
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4:hover
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5:hover
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5:hover
  .pr-histogram-label,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:focus
  .pr-histogram-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:focus
  .pr-histogram-label {
  color: #212121;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5
  .pr-ratings-histogram-barValue {
  background-color: #004f16;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:hover
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1:hover
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2:hover
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3:hover
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4:hover
  .pr-ratings-histogram-barValue,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5:hover
  .pr-ratings-histogram-barValue {
  background-color: #212121;
}
.sePage .seProductReviewsPane .p-w-r .pr-helpful-btn svg path {
  fill: #004f16;
}
.sePage .seProductReviewsPane .p-w-r .pr-helpful-btn .pr-helpful-count {
  color: #004f16;
}
.sePage .seProductReviewsPane .p-w-r .pr-helpful-btn:disabled svg path {
  fill: #004f16;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-helpful-btn:disabled
  .pr-helpful-count {
  color: #004f16;
}
.sePage .seProductReviewsPane .p-w-r .pr-helpful-btn:hover svg path {
  fill: #212121;
}
.sePage .seProductReviewsPane .p-w-r .pr-helpful-btn:hover .pr-helpful-count {
  color: #212121;
}
.sePage .seProductReviewsPane .p-w-r .pr-helpful-btn:active,
.sePage .seProductReviewsPane .p-w-r .pr-helpful-btn.pr-helpful-active {
  background-color: #004f16 !important;
}
.sePage .seProductReviewsPane .p-w-r .pr-helpful-btn:active svg path,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-helpful-btn.pr-helpful-active
  svg
  path {
  fill: #fff;
}
.sePage .seProductReviewsPane .p-w-r .pr-helpful-btn:active .pr-helpful-count,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-helpful-btn.pr-helpful-active
  .pr-helpful-count {
  color: #fff;
}
.sePage .seProductReviewsPane .p-w-r .pr-accordion .pr-accordion-btn span {
  color: #004f16;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-accordion
  .pr-accordion-btn:hover
  span {
  color: #212121;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-accordion
  .pr-accordion-btn
  span
  .pr-caret-icon__line {
  stroke: #004f16;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-accordion
  .pr-accordion-btn:hover
  span
  .pr-caret-icon__line {
  stroke: #212121;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-rd-main-footer
  .pr-rd-pagination
  .pr-rd-pagination-btn,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot-faceoff
  .pr-faceoff-readcomplete {
  color: #004f16;
}
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-rd-main-footer
  .pr-rd-pagination
  .pr-rd-pagination-btn:hover,
.sePage
  .seProductReviewsPane
  .p-w-r
  .pr-review-snapshot-faceoff
  .pr-faceoff-readcomplete:hover {
  color: #212121;
  text-decoration: underline;
}
#pr-write .p-w-r .pr-submit a {
  color: #004f16;
}
#pr-write .p-w-r .pr-submit a:hover {
  color: #212121;
}
#pr-write .p-w-r .pr-btn.pr-btn-review.pr-accessible-btn {
  color: #fff;
  background-color: #004f16;
  border: 1px solid #004f16;
}
#pr-write .p-w-r .pr-btn.pr-btn-review.pr-accessible-btn:hover {
  color: #fff;
  background-color: #212121;
  border: 1px solid #212121;
}
#pr-write .p-w-r .thank-you-page a {
  color: #004f16;
}
#pr-write .p-w-r .thank-you-page a:hover {
  color: #212121;
}
.sePage .sePageLayout .se-catalog-navigator .se-navigator-group a {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.sePage .sePageLayout .se-catalog-navigator .se-navigator-group a:hover {
  color: #004f16;
}
.sePage
  .sePageLayout
  .se-catalog-navigator
  .se-navigator-group
  a.navigator-title::after {
  background: #004f16;
}
.sePage .sePageLayout .nav-pills > li.active > a,
.sePage .sePageLayout .nav-pills > li.active > a:hover,
.sePage .sePageLayout .nav-pills > li.active > a:focus {
  color: #fff;
  background: #004f16;
}
.sePage .sePageLayout .sePageHeader .seHeaderBottom .seMobiActionContainer a {
  color: #fff;
}
.sePage
  .sePageLayout
  .sePageHeader
  .seHeaderBottom
  .seMobiActionContainer
  a:hover {
  color: #004f16;
}
@media only screen and (max-width: 767px) {
  .seSiteNavigator .navbar-nav .seMobiActionCart .badge {
    color: #fff;
  }
}
