.sePageLayout .wsmobileheader {
  background: transparent;
}
.sePageLayout .wsmobileheader .icon-bar {
  background-color: #212121;
}
@media only screen and (max-width: 991px) {
  .sePageLayout .seHeaderActions {
    background-color: transparent;
  }
}
.sePageLayout .seNavbar {
  background-color: #fff;
}
@media only screen and (min-width: 992px) {
  .sePageLayout .seNavbar {
    border-color: #e6e6e6;
  }
}
.sePageLayout .seNavbar .navbar-brand {
  color: #333;
}
.sePageLayout .seNavbar .navbar-brand:focus,
.sePageLayout .seNavbar .navbar-brand:hover {
  color: #1a1919;
  background-color: transparent;
}
.sePageLayout .seNavbar .navbar-text {
  color: #000;
}
@media only screen and (max-width: 991px) {
  .sePageLayout .seNavbar .dropdown-menu {
    background-color: #d9d9d9;
  }
}
.sePageLayout .seNavbar .navbar-nav > li > a {
  color: #333;
}
.sePageLayout .seNavbar .navbar-nav > .active > a,
.sePageLayout .seNavbar .navbar-nav > .active > a:focus,
.sePageLayout .seNavbar .navbar-nav > .active > a:hover,
.sePageLayout .seNavbar .navbar-nav > li > a:focus,
.sePageLayout .seNavbar .navbar-nav > li > a:hover {
  color: #29652c;
  background-color: #fff;
}
.sePageLayout .seNavbar .navbar-nav > .disabled > a,
.sePageLayout .seNavbar .navbar-nav > .disabled > a:focus,
.sePageLayout .seNavbar .navbar-nav > .disabled > a:hover {
  color: #ccc;
  background-color: transparent;
}
.sePageLayout .seNavbar .navbar-toggle {
  background-color: transparent;
  border-color: #555;
}
.sePageLayout .seNavbar .navbar-toggle .icon-bar,
.sePageLayout .seNavbar .navbar-toggle:focus,
.sePageLayout .seNavbar .navbar-toggle:hover {
  background-color: #212121;
}
.sePageLayout .seNavbar .navbar-collapse,
.sePageLayout .seNavbar .navbar-form {
  border-color: #e6e6e6;
}
.sePageLayout .seNavbar .navbar-nav > .open > a,
.sePageLayout .seNavbar .navbar-nav > .open > a:focus,
.sePageLayout .seNavbar .navbar-nav > .open > a:hover {
  background-color: #fff;
  color: #29652c;
}
@media (max-width: 991px) {
  .sePageLayout .seNavbar .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
  }
  .sePageLayout .seNavbar .navbar-nav .open .dropdown-menu > .active > a,
  .sePageLayout .seNavbar .navbar-nav .open .dropdown-menu > .active > a:focus,
  .sePageLayout .seNavbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .sePageLayout .seNavbar .navbar-nav .open .dropdown-menu > li > a:focus,
  .sePageLayout .seNavbar .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #29652c;
    background-color: #fff;
  }
  .sePageLayout .seNavbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .sePageLayout
    .seNavbar
    .navbar-nav
    .open
    .dropdown-menu
    > .disabled
    > a:focus,
  .sePageLayout
    .seNavbar
    .navbar-nav
    .open
    .dropdown-menu
    > .disabled
    > a:hover {
    color: #ccc;
    background-color: transparent;
  }
}
.sePageLayout .seNavbar .navbar-link {
  color: #333;
}
.sePageLayout .seNavbar .navbar-link:hover {
  color: #29652c;
}
.sePageLayout .seNavbar .btn-link {
  color: #333;
}
.sePageLayout .seNavbar .btn-link:focus,
.sePageLayout .seNavbar .btn-link:hover {
  color: #29652c;
}
.sePageLayout .seNavbar .btn-link[disabled]:focus,
.sePageLayout .seNavbar .btn-link[disabled]:hover,
fieldset[disabled] .sePageLayout .seNavbar .btn-link:focus,
fieldset[disabled] .sePageLayout .seNavbar .btn-link:hover {
  color: #ccc;
}
.sePageLayout .seUserActionsList .seIcon {
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.sePageLayout .seUserActionsList > li > a {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
@media only screen and (max-width: 991px) {
  .sePageLayout .seUserActionsList > li > a {
    border-color: #fff;
    background-color: #fff;
  }
}
.sePageLayout .seUserActionsList > li > a:active,
.sePageLayout .seUserActionsList > li > a:focus,
.sePageLayout .seUserActionsList > li > a:hover {
  color: #212121;
}
@media only screen and (max-width: 991px) {
  .sePageLayout .seUserActionsList > li > a:active,
  .sePageLayout .seUserActionsList > li > a:focus,
  .sePageLayout .seUserActionsList > li > a:hover {
    background-color: #fff;
  }
}
.sePageLayout .seSiteSearchForm .seSearchButton {
  background-color: #fff;
  border-color: #555;
  color: #212121;
}
@media only screen and (max-width: 991px) {
  .sePageLayout .seSiteSearchForm .seSearchButton {
    background-color: #fff;
    border-color: #212121;
    color: #212121;
  }
}
.sePageLayout .seSiteSearchForm .input-group .form-control {
  background-color: #fff;
  color: #212121;
  border-color: #555;
}
.sePageLayout .seSiteSearchForm .input-group .form-control::-moz-placeholder {
  color: #212121;
  opacity: 1;
}
.sePageLayout
  .seSiteSearchForm
  .input-group
  .form-control:-ms-input-placeholder {
  color: #212121;
}
.sePageLayout
  .seSiteSearchForm
  .input-group
  .form-control::-webkit-input-placeholder {
  color: #212121;
}
@media only screen and (max-width: 991px) {
  .sePageLayout .seSiteSearchForm .input-group .form-control {
    background-color: #fff;
    color: #555;
    border: none;
  }
  .sePageLayout .seSiteSearchForm .input-group .form-control::-moz-placeholder {
    color: #000;
    opacity: 1;
  }
  .sePageLayout
    .seSiteSearchForm
    .input-group
    .form-control:-ms-input-placeholder {
    color: #000;
  }
  .sePageLayout
    .seSiteSearchForm
    .input-group
    .form-control::-webkit-input-placeholder {
    color: #000;
  }
}
.sePageLayout .dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sePageLayout .is-drilldown-submenu-parent.dropdown .arrow {
  color: #212121;
}
.sePageLayout .sePageFooter {
  background-color: #333;
  color: #fff;
}
.sePageLayout .sePageFooter a {
  color: #fff;
}
.sePageLayout .sePageFooter a:active,
.sePageLayout .sePageFooter a:focus,
.sePageLayout .sePageFooter a:hover {
  color: #e6e6e6;
  text-decoration: none;
}
.sePageLayout .sePageFooter .panel {
  background-color: #333;
}
.sePageLayout .sePageFooter .panel h3 {
  color: #fff;
}
.sePageLayout .sePageFooter .list-group-item {
  background-color: #333;
  color: #fff;
}
.sePageLayout .sePageFooter .list-group-item:active,
.sePageLayout .sePageFooter .list-group-item:focus,
.sePageLayout .sePageFooter .list-group-item:hover {
  background-color: #333;
  color: #e6e6e6;
}
.badge {
  background: transparent !important;
}
::-moz-selection {
  background: #29652c;
  color: #fff;
}
::selection {
  background: #29652c;
  color: #fff;
}
.sePageLayout ::-moz-selection {
  background-color: #29652c;
  color: #fff;
}
.sePageLayout ::selection {
  background-color: #29652c;
  color: #fff;
}
.sePageLayout a {
  color: #29652c;
}
.sePageLayout a:active,
.sePageLayout a:focus,
.sePageLayout a:hover {
  color: #212121;
  text-decoration: underline;
}
.sePageLayout .seNavbar .dropdown-menu {
  background: #fff;
  border: 1px solid #555;
}
.sePageLayout .seNavbar .dropdown-menu.megamenu {
  border-width: 1px 0;
}
.sePageLayout .seNavbar .seNavbarNav .seMobiActions a {
  color: #333;
}
.sePageLayout .seNavbar .seNavbarNav .seMobiActions a:active,
.sePageLayout .seNavbar .seNavbarNav .seMobiActions a:focus,
.sePageLayout .seNavbar .seNavbarNav .seMobiActions a:hover,
.sePageLayout .seNavbar .seNavbarNav > li.active > a,
.sePageLayout .seNavbar .seNavbarNav > li.active > a:focus,
.sePageLayout .seNavbar .seNavbarNav > li.active > a:hover,
.sePageLayout .seNavbar .seNavbarNav > li.open > a,
.sePageLayout .seNavbar .seNavbarNav > li.open > a:focus,
.sePageLayout .seNavbar .seNavbarNav > li.open > a:hover,
.sePageLayout .seNavbar .seNavbarNav > li > a:active,
.sePageLayout .seNavbar .seNavbarNav > li > a:focus,
.sePageLayout .seNavbar .seNavbarNav > li > a:hover {
  color: #29652c;
}
.sePageLayout .btn-default {
  color: #000;
  background-color: #fff;
  border-color: #000;
}
.sePageLayout .btn-default:active,
.sePageLayout .btn-default:focus,
.sePageLayout .btn-default:hover {
  color: #000;
  background-color: #e6e6e6;
  border-color: #000;
  text-decoration: none;
}
.sePageLayout .btn-cart,
.sePageLayout .btn-checkout,
.sePageLayout .btn-primary {
  color: #fff;
  background-color: #29652c;
  border-color: #29652c;
  font-weight: 600;
}
.sePageLayout .btn-cart:active,
.sePageLayout .btn-cart:focus,
.sePageLayout .btn-cart:hover,
.sePageLayout .btn-checkout:active,
.sePageLayout .btn-checkout:focus,
.sePageLayout .btn-checkout:hover,
.sePageLayout .btn-primary:active,
.sePageLayout .btn-primary:focus,
.sePageLayout .btn-primary:hover {
  color: #fff;
  background-color: #212121;
  border-color: #212121;
  text-decoration: none;
}
.sePageLayout .seMiniCartActions .btn-cart {
  color: #000;
  background-color: #fff;
  border-color: #000;
}
.sePageLayout .seMiniCartActions .btn-cart:active,
.sePageLayout .seMiniCartActions .btn-cart:focus,
.sePageLayout .seMiniCartActions .btn-cart:hover {
  color: #000;
  background-color: #e6e6e6;
  border-color: #000;
  text-decoration: none;
}
.sePageLayout .sePageHeader {
  color: #fff;
}
.sePageLayout .sePageHeader a:active .seIcon,
.sePageLayout .sePageHeader a:focus .seIcon,
.sePageLayout .sePageHeader a:hover .seIcon {
  color: #e6e6e6;
}
.sePageLayout
  .seProductDataContainer
  .seProductTabWrapper
  .nav-tabs
  > li
  > a:before,
.sePageLayout .seSearchProductsContainer .seProduct .seSavingPercent {
  background-color: #29652c;
}
.sePageLayout .seMatchesText {
  color: #29652c;
}
.sePageLayout .seFacetPanel input[type="checkbox"]:checked + label {
  color: #29652c !important;
}
.sePageLayout .seBackTop:hover {
  background: rgba(41, 101, 44, 0.8);
}
.sePageLayout .btn-link {
  color: #29652c;
}
.sePageLayout .btn-link:active,
.sePageLayout .btn-link:focus,
.sePageLayout .btn-link:hover {
  color: #132f14;
}
.sePageLayout .seProductTabWrapper .nav-tabs > li > a {
  color: #000;
}
.sePageLayout .seProductTabWrapper .nav-tabs > li > a:active,
.sePageLayout .seProductTabWrapper .nav-tabs > li > a:focus,
.sePageLayout .seProductTabWrapper .nav-tabs > li > a:hover {
  color: #29652c;
}
.sePageLayout .seProductTabWrapper .nav-tabs > li > a:before {
  background-color: #29652c;
}
.sePageLayout .seProductTabWrapper .nav-tabs > li.active > a {
  color: #29652c;
}
.sePageLayout .fc-event {
  color: #fff;
  font-weight: 400;
}
.sePageLayout .fc-event:active,
.sePageLayout .fc-event:focus,
.sePageLayout .fc-event:hover {
  color: #fff;
}
.sePage .p-w-r {
  font-family: inherit;
}
.seProductRatingNavigable .p-w-r {
  margin: 0;
}
.seProductRatingNavigable .p-w-r .pr-snippet-stars-reco-reco {
  display: none;
}
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-compact
  .pr-snippet-read-and-write {
  margin-top: 0;
}
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-compact
  .pr-snippet-read-and-write
  span,
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-standard
  .pr-snippet-read-and-write
  span {
  font-size: 16px !important;
}
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-compact
  .pr-snippet-read-and-write
  a,
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-standard
  .pr-snippet-read-and-write
  a {
  font-size: 16px !important;
  color: #29652c;
  vertical-align: middle;
}
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-compact
  .pr-snippet-read-and-write
  a:hover,
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-standard
  .pr-snippet-read-and-write
  a:hover {
  color: #212121;
}
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-minimal
  .pr-snippet-read-and-write
  span {
  font-size: 16px !important;
}
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-minimal
  .pr-snippet-read-and-write
  a {
  font-size: 16px !important;
  color: #29652c;
}
.seProductRatingNavigable
  .p-w-r
  .pr-snippet-stars-reco-inline.pr-snippet-minimal
  .pr-snippet-read-and-write
  a:last-child {
  margin-left: 30px;
}
.seProductRatingNavigable
  .p-w-r
  .pr-snippet
  .pr-snippet-stars-png
  .pr-snippet-rating-decimal,
.seProductReviewsPane .p-w-r .pr-review-display .pr-snippet-rating-decimal,
.seProductReviewsPane .p-w-r .pr-rid {
  display: none;
}
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-review-snapshot-simple
  .pr-review-snapshot-snippets
  .pr-snippet-read-and-write
  a {
  border: 1px solid #29652c;
  background-color: #29652c;
}
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-review-snapshot-simple
  .pr-review-snapshot-snippets
  .pr-snippet-read-and-write
  a:hover {
  color: #fff;
  border: 1px solid #212121;
  background-color: #212121;
}
.seProductReviewsPane .p-w-r .pr-review-display a,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-label,
.seProductReviewsPane .p-w-r .pr-subheadline a {
  color: #29652c;
}
.seProductReviewsPane .p-w-r .pr-review-display a:hover,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1:hover
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1:hover
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2:hover
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2:hover
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3:hover
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3:hover
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4:hover
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4:hover
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5:hover
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5:hover
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:focus
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:focus
  .pr-histogram-label,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:hover
  .pr-histogram-count,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:hover
  .pr-histogram-label,
.seProductReviewsPane .p-w-r .pr-subheadline a:hover {
  color: #212121;
}
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-ratings-histogram-barValue {
  background-color: #29652c;
}
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-histogram-stars:hover
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-1:hover
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-2:hover
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-3:hover
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-4:hover
  .pr-ratings-histogram-barValue,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-review-snapshot
  .pr-ratings-histogram
  .pr-hist-filter-5:hover
  .pr-ratings-histogram-barValue {
  background-color: #212121;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn {
  border: 1px solid;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn svg path {
  fill: #29652c;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn .pr-helpful-count {
  color: #29652c;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn:disabled svg path {
  fill: #29652c;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn:disabled .pr-helpful-count {
  color: #29652c;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn:hover svg path {
  fill: #212121;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn:hover .pr-helpful-count {
  color: #212121;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn.pr-helpful-active,
.seProductReviewsPane .p-w-r .pr-helpful-btn:active {
  background-color: #29652c !important;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn.pr-helpful-active svg path,
.seProductReviewsPane .p-w-r .pr-helpful-btn:active svg path {
  fill: #fff;
}
.seProductReviewsPane
  .p-w-r
  .pr-helpful-btn.pr-helpful-active
  .pr-helpful-count,
.seProductReviewsPane .p-w-r .pr-helpful-btn:active .pr-helpful-count {
  color: #fff;
}
.seProductReviewsPane .p-w-r .pr-helpful-btn:last-child {
  border-left: 0;
}
.seProductReviewsPane .p-w-r .pr-accordion .pr-accordion-btn span {
  color: #29652c;
}
.seProductReviewsPane
  .p-w-r
  .pr-accordion
  .pr-accordion-btn
  span
  .pr-caret-icon__line {
  stroke: #29652c;
}
.seProductReviewsPane .p-w-r .pr-accordion .pr-accordion-btn:hover span {
  color: #212121;
}
.seProductReviewsPane
  .p-w-r
  .pr-accordion
  .pr-accordion-btn:hover
  span
  .pr-caret-icon__line {
  stroke: #212121;
}
.seProductReviewsPane
  .p-w-r
  .pr-rd-main-footer
  .pr-rd-pagination
  .pr-rd-pagination-btn,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot-faceoff
  .pr-faceoff-readcomplete {
  color: #29652c;
}
.seProductReviewsPane
  .p-w-r
  .pr-rd-main-footer
  .pr-rd-pagination
  .pr-rd-pagination-btn:hover,
.seProductReviewsPane
  .p-w-r
  .pr-review-snapshot-faceoff
  .pr-faceoff-readcomplete:hover {
  color: #212121;
  text-decoration: underline;
}
.seWishListDetails .p-w-r {
  margin: 5px 0 0;
}
.seWishListDetails .p-w-r .pr-category-snippet {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: left;
  align-content: left;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.seWishListDetails .p-w-r .pr-category-snippet .pr-category-snippet__total,
.seWishListDetails .p-w-r .pr-category-snippet .pr-rating-stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.seWishListDetails
  .p-w-r
  .pr-snippet
  .pr-snippet-stars-png
  .pr-snippet-rating-decimal {
  display: none;
}
.seReviewData {
  min-height: 40px;
}
.seReviewData .p-w-r {
  line-height: 20px;
}
.seReviewData .p-w-r .pr-no-reviews,
.seReviewData
  .p-w-r
  .pr-snippet
  .pr-snippet-stars-png
  .pr-snippet-rating-decimal {
  display: none;
}
.seReviewData .p-w-r .pr-snippet .pr-category-snippet__item {
  display: block;
  text-align: center;
}
.seReviewData .p-w-r .pr-snippet .pr-category-snippet__total {
  padding: 0;
}
#pr-write .p-w-r .pr-btn {
  border-bottom-width: 1px;
}
#pr-write .p-w-r .pr-btn span,
#pr-write .p-w-r .pr-btn span:after {
  color: #333;
}
#pr-write .p-w-r .pr-btn.pr-btn-add-tag-submit {
  color: #333;
  border-bottom-width: 1px;
}
#pr-write .p-w-r .pr-btn.pr-btn-review.pr-accessible-btn {
  color: #fff;
  background-color: #29652c;
  border: 1px solid #29652c;
}
#pr-write .p-w-r .pr-btn.pr-btn-review.pr-accessible-btn:hover {
  color: #fff;
  background-color: #212121;
  border: 1px solid #212121;
}
#pr-write .p-w-r .pr-btn-add-tag a {
  color: #333;
  border-bottom-width: 1px;
}
#pr-write .p-w-r .pr-btn-add-tag a:after {
  color: #333;
}
#pr-write .p-w-r .pr-submit a {
  color: #29652c;
}
#pr-write .p-w-r .pr-submit a:hover {
  color: #212121;
}
#pr-write .p-w-r .thank-you-page a {
  color: #29652c;
}
#pr-write .p-w-r .thank-you-page a:hover {
  color: #212121;
}
#pr-write .p-w-r .form-group.pr-media_videourl-form-group {
  display: none;
}
.se-catalog-navigator .se-navigator-group a {
  color: #333;
  border-bottom: 1px solid #555;
}
.se-catalog-navigator .se-navigator-group a:active,
.se-catalog-navigator .se-navigator-group a:focus,
.se-catalog-navigator .se-navigator-group a:hover {
  color: #29652c;
  text-decoration: none;
}
.se-catalog-navigator .se-navigator-group a.navigator-title:after {
  background: #333;
}
